.FilterForm {
    border: 1px solid black;
    width: max-content;
    padding: 0 0 0 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.FilterForm img {
    width: 16px;
    margin-right: 10px;
}

.FilterForm input {
    border: unset;
}

.FilterForm button {
    margin: 0;
    border: unset;
    border-left: 1px solid black;
}