.Pagination {
    width: 100%;
}

.Pagination ul {
    width: max-content;
    margin: 20px auto;
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Pagination li {
    width: 30px;
    border-right: 1px solid black;
    transition: background-color .2s linear;
}

.Pagination li:first-of-type {
    border-left: unset;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.Pagination li:last-of-type {
    border-right: unset;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.PageItem {
    background-color: white;
}

.Pagination li a {
    display: inline-block;
    width: 100%;
    transition: .2s linear;
    font-size: 20px;
}

.Pagination a:hover {
    color: white;
    background-color: black;
}

.PageItem a {
    color: black;
}

.PageItem_Active {
    background-color: black;
}

.PageItem_Active a {
    color: white;
}