.PopUp {
    display: none;
    width: 400px;
    height: 520px;
    padding: 20px 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: 10px;
}

.PopUp form {
    width: 100%;
}

.PopUp form input, .PopUp form textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #b5b5b5;
}

.PopUp img {
    width: 16px;
    position: absolute;
    top: 6px;
    right: 10px;
    cursor: pointer;
}