.DataPage table {
    border-collapse: collapse;
    max-width: 992px;
    width: 100%;
    font-size: 14px;
    margin: 20px auto;
}

.DataPage td, th {
    border: 1px solid black;
    padding: 5px;

}

.DataPage tr {
    cursor: pointer;
    transition: background-color .2s linear;
}

.DataPage tbody tr:hover {
    background-color: rgba(1,1,1,0.2);
}

.DataPage th div {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.DataPage th img {
    width: 12px;
    display: none;
    position: absolute;
    right: 5%;
}

.SortUpIcon {
    top: 3px;
}

.SortDownIcon {
    bottom: 3px;
}

.OverLay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    background-color: rgba(1,1,1,0.5);
}