.Data table {
    border-collapse: collapse;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
}

.Data td, th {
    border: 1px solid black;
    padding: 5px;
}

.Data th {
    cursor: pointer;
}

.Data th img {
    width: 16px;
    vertical-align: top;
    margin-left: 10px;
}

.OverLay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    background-color: rgba(1,1,1,0.5);
}